.ratio{
    position:relative;
    width: 100%;
    height: 0;
    padding-bottom: 75% ; /* % of width, defines aspect ratio*/
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
